header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.pizza {
  width: 17rem;
  height: 13rem;
  background-image: url(./img/pizza.svg);
  background-size: contain;
}
